USE_MOCK_ATHENA=false
ATHENAHEALTH_BASE_URL=https://api.preview.platform.athenahealth.com
ATHENAHEALTH_CLIENT_ID=0oax6yy9hr6DE8TPe297
ATHENAHEALTH_CLIENT_SECRET=3HFANoH4mQdc2xciZVkZ1sXqzhpRo3suMrVAIfE5I3FguVm1xaBSVNKzXIXexx_J
ATHENAHEALTH_SCOPE=athena/service/Athenanet.MDP.*
ATHENAHEALTH_PRACTICE_ID=3338002
ATHENAHEALTH_APPOINTMENTS_PATH=/appointments
